<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    </head>
    <body>
        <header th:insert="fragments/head.html"> </header>
        <div class="container m-2">&nbsp;</div>

        <div class="container m-2" th:if="${listProducts.isEmpty()}">
            <p class="h1 text-center">Sản phẩm không tồn tại!</p>
        </div>
        <div class="container">
            <div class="row justify-content-start">
                <div th:each="product:${listProducts}" class="d-flex align-content-between justify-content-center flex-wrap float-start col-md-4 shadow-sm ">
                    <a th:href="@{'/product/'+${product.id}}">
                        <img class="card-img-top m-2" loading="lazy" th:src="${product.image}" >
                    </a>
                    <div class="bottom-wrap m-2 card-body">
                        <h5 class="card-title name" th:text="${product.name}"></h5>
                        <p class="card-text col-4" th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA')} "></p>
                        <div class="d-grid gap-2">
                            <a th:href="@{'/giohang/addTocart/'+${product.id}}" class="btn btn-danger col-12" >Mua ngay</a>
                            <a class="btn btn-primary col-12" th:href="@{'/product/'+${product.id}}">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="fragments/foot.html"> </footer>
    </body>
</html>