<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${product.name}"></title>
    </head>
    <body>
        <header th:insert="fragments/head.html"> </header>
        <div class="container mt-5">
            <p class="h5 m-4" th:text="@{'Home>'+${product.getCategory().getName()}}"></p>
        </div>
        <div class="container mt-5 h-100">
            <div class="row">
                <div class="col-md m-3 text-center">
                    <img class="img-thumbnail" th:src="${product.image}" alt="">
                </div>
                <div class="col-md m-3">
                    <h1 id="name" th:text="${product.name}"></h1>
                    <div>
                        <h3>Mô tả sản phẩm</h3>
                        <p th:text="${product.description}"></p>
                    </div>
                    
                    <div class="card-text">
                        <a class="btn btn-outline-primary float-end" id="submit1" type="button" th:href="@{'/giohang/addTocart/'+${product.id}}">Thêm vào giỏ hàng  </a>
                        <h5 class="" th:text="@{'Giá sản phẩm: '+${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA')}}+'VNĐ'"></h5>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="fragments/foot.html"> </footer>
    </body>
</html>