<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    </head>
    <body>
        <header th:insert="fragments/head.html"> </header>
        <div class="container">
                <div th:if="${order}!=null" th:each="product:${order.getOrderDetails()}" >
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td th:text="${product.getProduct().name}"></td>
                                <td th:text="${product.getProduct().price}"></td>
                                <td th:text="${product.getQuantity()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <footer th:insert="fragments/foot.html"> </footer>
    </body>
</html>